.cabecalho-moda{
    background-color:#BB86FC ;
}

.cabecalho-casa{
    background-color: #00c4b4;
}

.fundo-padrao {
    background-color: #424250;
}

.texto{
    color: rgb(253, 253, 253);
    font-size: 24px;

}